name: Hardware preview

on:
  push:
    paths:
      - "**/*.kicad_sch"
      - "**/*.kicad_pcb"

jobs:
  preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: orual/plane/.github/actions/hw-preview@kicad-preview
        with:
          plane-api-key: ${{ secrets.PLANE_API_KEY }}
